# Marquem aquesta variable a 0 si no volem tindre una pantalla dividida
# que utilitzarem com status, sino que preferim tindre finestres 
# individuals (també existirà l'status però individualment).
@ Partir = 1
@ Pos1=1
@ Pos2=2
@ Pos3=3

# Definim la nostra ruta d'arxius de so mp3. Podem marcar la
# segona variable a 1 si volem notificar al canal la música que
# escoltem a cada moment.
#
@ Mp3dir = [/var/mp3/]
@ Notif_mp3 = 0

# Marquem aquesta variable a 1 si volem que quan una persona ens
# envïi un missatge sen's obri automàticament una nova finestra de
# privat exclusiva per aquest nick
@ WinQuery = 0

# Si volem colors al nostre script descomentem aquesta linia,
# o invoquem "/color si" una vegada arrencat l'script. Tenim la
# posibilitat a més a més d'optar entre els temes Default o bass (BaSS
# Design).
#@ theme = [Default]
#Color si

# Descomentem aquesta linia si volem activar el Time Stamp a tots
# els missatges a canals i privats
#@ Hora = [$Magenta\[$Amarillo\$Z$Magenta\] ]

# Definim la nostra tecla preferida pel seu us amb Hot-keys
#
@ hotkey = [alt]

# Definim les variables d'entorn per a una major comoditat d'us del 
# nostre client d'IRC.
#
# Marca Sonido a 1 si vols iniciar BitchX amb so
# Marca ircha a 1 si vols iniciar BitchX amb ircha en lloc del cuac
# Marca Autojoin a 1 si vols definir un a l'iniciar
# Marca Ctcp_mp3 a 1 si vols ignorar els Ctcp's SOUNDS
# Afegeix el teu nick d'away i normal a més a més un missatge de sortida 
# per defecte personalitzat (no eliminis els [] )
#
@ Sonido = 1
@ ircha = 1
@ Conferencia = 0
@ nick_awayOn = [nickOn]
@ nick_awayOff = [nickOff]
@ Ctcp_mp3 = 0
@ Msg_quit = [Sunlite v1.2 for BitchX]
@ Msq_part = [Sunlite v1.2 for BitchX]
@ Autojoin = 1
@ snap = 0
@ Canales_Aj = [channel1 channel2]

set cloak 1
set usermode +i-ws
set status_window ^Activa^
set status_query 8[15Privat: 7%Q8]
set status_hold --más--
set status_notify 8[Parlen: %F]
set flood_protection off
set deop_on_Deopflood 5
set deop_on_kickflood 5
set dcc_autoresume on
set dcc_autoget off
set clock_24hour on
set auto_join_on_invite on
set auto_away on
set auto_Away_time 1800
set mircs on
set beep on
set STATUS_FORMAT 8,2[3 %T 8][15%*%@%=10%N7%#%A8]%M [10%C%+3%W8] 6%Q %H%B%F 8%S
set STATUS_FORMAT1 8,2[3 %T 8][15%*%@%=10%N7%#%A8]%M [10%C%+3%W8] 6%Q %H%B%F 8%S
set STATUS_FORMAT2 8,14Tòpic 3: 14%-
set STATUS_FORMAT3 8,14Tòpic 3: 14%-
set STATUS_UMODE 8(10+15%#8)
set STATUS_MODE 8(10+15%+8)
set STATUS_USERS 8[7O/15%! 7N/15%! 7I/15%! 7V/15%! 7F/15%!8]
set STATUS_OPER_KILLS 8[4nk/15%K 4ok/15%K8]
set STATUS_MSGCOUNT 7Aw8[15%^8]
set STATUS_MAIL 8[7Mail: 15%M8]
set STATUS_LAG 8[7Lag 15%L8]
set STATUS_HOLD_LINES 8(15%B8)
set STATUS_CHANNEL 7%C
set INPUT_PROMPT 8[4$C8]7,14 
set MANGLE_LOGFILES ANSI,COLOR,REVERSE,UNDERLINE,BOLD,BLINK
