# Marcamos esta variable a 0 si no queremos tener un pantalla dividida
# que usamos como status, sino que preferimos tener ventanas 
# individuales (también existirá el status pero individualmente).
@ Partir = 1
@ Pos1=1
@ Pos2=2
@ Pos3=3

# Definimos nuestra ruta de ficheros de sonido mp3. Podemos marcar la
# segunda variable a 1 si queremos notificar al canal la música que
# escuchamos en cada momento.
#
@ Mp3dir = [/var/mp3/]
@ Notif_mp3 = 0

# Marquemos esta variable a 1 si queremos que cuando una persona nos
# envíe un mensaje se nos abra automáticamente una nueva ventana de
# privado exclusiva para ese nick
@ WinQuery = 0

# Si queremos colores en nuestro script decomentamos esta línea,
# o invocamos "/color si" una vez arrancado el script. Tenemos la
# posibilidad además de optar entre los temas Default o bass (BaSS
# Design).
#@ theme = [Default]
#Color si

# Descomentemos esta línea si queremos activar el Time Stamp en todos
# los mensajes en canales y privados
#@ Hora = [$Magenta\[$Amarillo\$Z$Magenta\] ]

# Definimos nuestra tecla favorita para su uso con Hot-keys
#
@ hotkey = [alt]

# Definimos las variables de entorno para una mayor comodidad de uso de 
# nuestro cliente de IRC.
#
# Marca Sonido a 1 si quieres iniciar BitchX con sonido
# Marca ircha a 1 si quieres iniciar BitchX con ircha en lugar del cuac
# Marca Autojoin a 1 si quieres definir uno al iniciar
# Marca Ctcp_mp3 a 1 si qiueres ignorar los Ctcp's SOUNDS
# Añade tu nick de away y normal además de un mensaje de salida 
# por defecto personalizado (no elimines los [] )
#
@ Sonido = 1
@ ircha = 1
@ Conferencia = 0
@ nick_awayOn = [nickOn]
@ nick_awayOff = [nickOff]
@ Ctcp_mp3 = 0
@ Msg_quit = [Sunlite v1.2 for BitchX]
@ Msq_part = [Sunlite v1.2 for BitchX]
@ Autojoin = 1
@ snap = 0
@ Canales_Aj = [channel1 channel2]

set cloak 1
set usermode +i-ws
set status_window ^Activa^
set status_query 8[15Privado: 7%Q8]
set status_hold --más--
set status_notify 8[Charlan: %F]
set flood_protection off
set deop_on_Deopflood 5
set deop_on_kickflood 5
set dcc_autoresume on
set dcc_autoget off
set clock_24hour on
set auto_join_on_invite on
set auto_away on
set auto_Away_time 1800
set mircs on
set beep on
set STATUS_FORMAT 8,2[3 %T 8][15%*%@%=10%N7%#%A8]%M [10%C%+3%W8] 6%Q %H%B%F 8%S
set STATUS_FORMAT1 8,2[3 %T 8][15%*%@%=10%N7%#%A8]%M [10%C%+3%W8] 6%Q %H%B%F 8%S
set STATUS_FORMAT2 8,14Topic 3: 14%-
set STATUS_FORMAT3 8,14Topic 3: 14%-
set STATUS_UMODE 8(10+15%#8)
set STATUS_MODE 8(10+15%+8)
set STATUS_USERS 8[7O/15%! 7N/15%! 7I/15%! 7V/15%! 7F/15%!8]
set STATUS_OPER_KILLS 8[4nk/15%K 4ok/15%K8]
set STATUS_MSGCOUNT 7Aw8[15%^8]
set STATUS_MAIL 8[7Mail: 15%M8]
set STATUS_LAG 8[7Lag 15%L8]
set STATUS_HOLD_LINES 8(15%B8)
set STATUS_CHANNEL 7%C
set INPUT_PROMPT 8[4$C8]7,14 
set MANGLE_LOGFILES ANSI,COLOR,REVERSE,UNDERLINE,BOLD,BLINK
